html {
    background: #e6e9e9;
    background-image: linear-gradient(270deg, rgb(230, 233, 233) 0%, rgb(216, 221, 221) 100%);
    -webkit-font-smoothing: antialiased;
}

#herobtn {
    color: red;
}

.jumbotron {
    background-image: url('images/jumbotron.jpg');
    background-size: 100%;
    padding-top: 25%;
    padding-bottom: 20%;
    margin-top:-3%;
}

#herotext {
    margin-top:-5%;
}

#article {
    
}

.articlepara {
    padding-left: 10%;
    padding-right: 10%;
    padding-top: 0%;
    padding-bottom: 100%;
}

h2 {
    text-align: center;
    padding-top: 2%;
    padding-bottom: 2%;
    font-size: 250%;
}

.paragraph {
    border-left: 5%;
}
